$text: #556987;
$bg: #f7f8f9;
$btn: #22C55E;
$light-gray: #8896AB;
$dark-gray: #2A3342;
$gray: #333F51;
$accent: #22C55E;

%poppins-400 {
  font-family: 'Poppins-Regular';
  font-weight: 400;
}

%poppins-500 {
  font-family: 'Poppins-Medium';
  font-weight: 500;
}

%poppins-600 {
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
}

%poppins-700 {
  font-family: 'Poppins-Bold';
  font-weight: 700;
}

%btn {
  @extend %poppins-500;
  padding: 14px 28px;
  color: #F0FDF4;
  border-radius: 6px;
  background-color: $accent;
  font-size: 18px;
  line-height: 28px;
}